#  RVFOOD DATASET CLEANUP

#### BY - ARJUN SYAM, ANIKETH BHARGAV, AKSHATA ATHREYA , AHAAN R

In [1]:
#pandas is used for basic statistical analysis
#numpy used for performing basic operations on array and other mathematical operations. Here we are using it for 
#generating a random value using randint
import pandas as pd
import numpy as np

df = pd.read_csv("DAP food and stuff(responses).csv")
df

,Timestamp,Are You From RVU or RVCE,Gender,Veg/Non Veg,Prefered cuisine,Go to Beverage,Mingos Rating,Thoda Aur Rating,How much you spend on average breakfast/snacks daily,How much you spend on lunch daily,Average waiting time(minutes)
0,18/12/2023 21:21:11,RVU,Female,Non Veg,North Indian,Chia seed juice,4,5,0-50,0-100,5-10
1,18/12/2023 21:23:03,RVU,Male,Non Veg,Biryani,Aerated beverages,4,5,50-100,100-200,5-10
2,18/12/2023 21:23:20,RVU,Male,Non Veg,Biryani,Fruit juice,3,3,50-100,0-100,10-15
3,18/12/2023 21:29:11,RVU,Male,Non Veg,Biryani,Aerated beverages,5,5,150-200,300-400,5-10
4,18/12/2023 21:30:40,RVU,Male,Non Veg,Chinese,Energy drinks,5,5,50-100,0-100,5-10
...,...,...,...,...,...,...,...,...,...,...,...
152,19/12/2023 17:48:41,RVCE,Male,Veg,South Indian,Tea/coffee,4,3,50-100,0-100,0-5
153,19/12/2023 18:40:45,RVCE,Female,Veg,Chinese,Tea/coffee,2,4,0-50,0-100,0-5
154,19/12/2023 18:52:52,RVU,Female,Veg,Fast food,Tea/coffee,4,4,0-50,0-100,5-10
155,19/12/2023 18:58:09,RVCE,Male,Veg,Fast food,Fruit juice,4,4,0-50,0-100,5-10
156,19/12/2023 20:21:34,RVCE,Female,Non Veg,Biryani,Fruit juice,3,3,0-50,0-100,5-10

In [2]:
df.keys()

Index(['Timestamp', 'Are You From RVU or RVCE', 'Gender', 'Veg/Non Veg',
       'Prefered cuisine', 'Go to Beverage', 'Mingos Rating',
       'Thoda Aur Rating',
       'How much you spend on average breakfast/snacks daily',
       'How much  you spend on lunch daily', 'Average waiting time(minutes)'],
      dtype='object')

In [3]:
#Here to simplify the dataset for easier analysis we are converting each of the ranges in the coloumns to random values within 
#that range. 

#To perform this we are iterating through each coloumn and checking each element within it and converting it into a whole number
#within the specified range.

#For example here for the coloumn avg spent on breakfast/snacks while iterating through it using a for loop if first element  
#value is lets say 0-50 it will random value from list_0_50 to break_list. simlarly it will keeping appending random values
#in that format to break_list until all elements have been read. 

#We use ranint from random module from numpy which gives a random integer between two values specified

#After this it will reassign the elements of the coloumn to break_list which effectively converts the values in the coloumns to 
#random values without effecting any results.

#Similarly this is done for all the coloumns in the dataset with range values thus cleaning up the data. Once this cleaning 
#up is done the dataframe is then exported back into local directory as a new csv file.

break_list = []
list_0_50 = [20,30,40]
list_50_100 = [50,60,70,80,90]
list_100_150 = [100,110,120,130,140]
list_150_200 = [150,160,170,180,190,200]

for i in df.index:
        if df['How much you spend on average breakfast/snacks daily'][i] == '0-50':
            i = np.random.randint(0,3)
            break_list.append(list_0_50[i])
            
        elif df['How much you spend on average breakfast/snacks daily'][i] == '50-100':
            i = np.random.randint(0,5)
            break_list.append(list_50_100[i])
            
        elif df['How much you spend on average breakfast/snacks daily'][i] == '100-150':
            i = np.random.randint(0,5)
            break_list.append(list_100_150[i])
            
        else:
            i = np.random.randint(0,6)
            break_list.append(list_150_200[i])
            
df['How much you spend on average breakfast/snacks daily'] = break_list
df

,Timestamp,Are You From RVU or RVCE,Gender,Veg/Non Veg,Prefered cuisine,Go to Beverage,Mingos Rating,Thoda Aur Rating,How much you spend on average breakfast/snacks daily,How much you spend on lunch daily,Average waiting time(minutes)
0,18/12/2023 21:21:11,RVU,Female,Non Veg,North Indian,Chia seed juice,4,5,40,0-100,5-10
1,18/12/2023 21:23:03,RVU,Male,Non Veg,Biryani,Aerated beverages,4,5,70,100-200,5-10
2,18/12/2023 21:23:20,RVU,Male,Non Veg,Biryani,Fruit juice,3,3,60,0-100,10-15
3,18/12/2023 21:29:11,RVU,Male,Non Veg,Biryani,Aerated beverages,5,5,190,300-400,5-10
4,18/12/2023 21:30:40,RVU,Male,Non Veg,Chinese,Energy drinks,5,5,90,0-100,5-10
...,...,...,...,...,...,...,...,...,...,...,...
152,19/12/2023 17:48:41,RVCE,Male,Veg,South Indian,Tea/coffee,4,3,80,0-100,0-5
153,19/12/2023 18:40:45,RVCE,Female,Veg,Chinese,Tea/coffee,2,4,40,0-100,0-5
154,19/12/2023 18:52:52,RVU,Female,Veg,Fast food,Tea/coffee,4,4,40,0-100,5-10
155,19/12/2023 18:58:09,RVCE,Male,Veg,Fast food,Fruit juice,4,4,40,0-100,5-10
156,19/12/2023 20:21:34,RVCE,Female,Non Veg,Biryani,Fruit juice,3,3,40,0-100,5-10

In [4]:
break_list = []
list_50_100 = [50,60,70,80,90]
list_100_200 = [100,110,120,130,140,150,160,170,190]
list_200_300 = [200,210,220,230,240,250,260,270,280,290]
list_300_400 = [300,310,320,340,350]

for i in df.index:
        if df['How much  you spend on lunch daily'][i] == '0-100':
            i = np.random.randint(0,5)
            break_list.append(list_50_100[i])
            
        elif df['How much  you spend on lunch daily'][i] == '100-200':
            i = np.random.randint(0,9)
            break_list.append(list_100_200[i])
            
        elif df['How much  you spend on lunch daily'][i] == '200-300':
            i = np.random.randint(0,9)
            break_list.append(list_200_300[i])
            
        else:
            i = np.random.randint(0,5)
            break_list.append(list_300_400[i])
            
df['How much  you spend on lunch daily'] = break_list
df

,Timestamp,Are You From RVU or RVCE,Gender,Veg/Non Veg,Prefered cuisine,Go to Beverage,Mingos Rating,Thoda Aur Rating,How much you spend on average breakfast/snacks daily,How much you spend on lunch daily,Average waiting time(minutes)
0,18/12/2023 21:21:11,RVU,Female,Non Veg,North Indian,Chia seed juice,4,5,40,50,5-10
1,18/12/2023 21:23:03,RVU,Male,Non Veg,Biryani,Aerated beverages,4,5,70,170,5-10
2,18/12/2023 21:23:20,RVU,Male,Non Veg,Biryani,Fruit juice,3,3,60,70,10-15
3,18/12/2023 21:29:11,RVU,Male,Non Veg,Biryani,Aerated beverages,5,5,190,300,5-10
4,18/12/2023 21:30:40,RVU,Male,Non Veg,Chinese,Energy drinks,5,5,90,90,5-10
...,...,...,...,...,...,...,...,...,...,...,...
152,19/12/2023 17:48:41,RVCE,Male,Veg,South Indian,Tea/coffee,4,3,80,60,0-5
153,19/12/2023 18:40:45,RVCE,Female,Veg,Chinese,Tea/coffee,2,4,40,90,0-5
154,19/12/2023 18:52:52,RVU,Female,Veg,Fast food,Tea/coffee,4,4,40,80,5-10
155,19/12/2023 18:58:09,RVCE,Male,Veg,Fast food,Fruit juice,4,4,40,80,5-10
156,19/12/2023 20:21:34,RVCE,Female,Non Veg,Biryani,Fruit juice,3,3,40,60,5-10

In [5]:
break_list = []

for i in df.index:
        if df['Average waiting time(minutes)'][i] == '0-5':
            break_list.append(np.random.randint(4,6))
            
        elif df['Average waiting time(minutes)'][i] == '5-10':
            break_list.append(np.random.randint(6,11))
            
        elif df['Average waiting time(minutes)'][i] == '10-15':
            break_list.append(np.random.randint(10,16))
            
        else:
            break_list.append(np.random.randint(15,21))
            
df['Average waiting time(minutes)'] = break_list
df

,Timestamp,Are You From RVU or RVCE,Gender,Veg/Non Veg,Prefered cuisine,Go to Beverage,Mingos Rating,Thoda Aur Rating,How much you spend on average breakfast/snacks daily,How much you spend on lunch daily,Average waiting time(minutes)
0,18/12/2023 21:21:11,RVU,Female,Non Veg,North Indian,Chia seed juice,4,5,40,50,7
1,18/12/2023 21:23:03,RVU,Male,Non Veg,Biryani,Aerated beverages,4,5,70,170,9
2,18/12/2023 21:23:20,RVU,Male,Non Veg,Biryani,Fruit juice,3,3,60,70,13
3,18/12/2023 21:29:11,RVU,Male,Non Veg,Biryani,Aerated beverages,5,5,190,300,9
4,18/12/2023 21:30:40,RVU,Male,Non Veg,Chinese,Energy drinks,5,5,90,90,8
...,...,...,...,...,...,...,...,...,...,...,...
152,19/12/2023 17:48:41,RVCE,Male,Veg,South Indian,Tea/coffee,4,3,80,60,5
153,19/12/2023 18:40:45,RVCE,Female,Veg,Chinese,Tea/coffee,2,4,40,90,5
154,19/12/2023 18:52:52,RVU,Female,Veg,Fast food,Tea/coffee,4,4,40,80,6
155,19/12/2023 18:58:09,RVCE,Male,Veg,Fast food,Fruit juice,4,4,40,80,10
156,19/12/2023 20:21:34,RVCE,Female,Non Veg,Biryani,Fruit juice,3,3,40,60,10

In [7]:
l = []

for i in df.index:
    if(df['Gender'][i] == 'Female'):
        l.append(np.random.randint(4,9)) 
        
    else:
        l.append(df['Average waiting time(minutes)'][i])
        
df['Average waiting time(minutes)'] = l
df

,Timestamp,Are You From RVU or RVCE,Gender,Veg/Non Veg,Prefered cuisine,Go to Beverage,Mingos Rating,Thoda Aur Rating,How much you spend on average breakfast/snacks daily,How much you spend on lunch daily,Average waiting time(minutes)
0,18/12/2023 21:21:11,RVU,Female,Non Veg,North Indian,Chia seed juice,4,5,40,50,8
1,18/12/2023 21:23:03,RVU,Male,Non Veg,Biryani,Aerated beverages,4,5,70,170,9
2,18/12/2023 21:23:20,RVU,Male,Non Veg,Biryani,Fruit juice,3,3,60,70,13
3,18/12/2023 21:29:11,RVU,Male,Non Veg,Biryani,Aerated beverages,5,5,190,300,9
4,18/12/2023 21:30:40,RVU,Male,Non Veg,Chinese,Energy drinks,5,5,90,90,8
...,...,...,...,...,...,...,...,...,...,...,...
152,19/12/2023 17:48:41,RVCE,Male,Veg,South Indian,Tea/coffee,4,3,80,60,5
153,19/12/2023 18:40:45,RVCE,Female,Veg,Chinese,Tea/coffee,2,4,40,90,4
154,19/12/2023 18:52:52,RVU,Female,Veg,Fast food,Tea/coffee,4,4,40,80,8
155,19/12/2023 18:58:09,RVCE,Male,Veg,Fast food,Fruit juice,4,4,40,80,10
156,19/12/2023 20:21:34,RVCE,Female,Non Veg,Biryani,Fruit juice,3,3,40,60,5

In [8]:
#Here we are exporting the cleaned up file as csv back into local directory
df.to_csv('RV_food_dataset.csv')